<!DOCTYPE html>
<html>
<head>
    <meta charset=utf-8>
    <meta name=viewport content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1">
    <title>人脸识别</title>
    <link href=/static/css/app.d4f14a742fa86df8bc51cae03090040b.css rel=stylesheet>
</head>
<body>
<div id=app></div>
<script type=text/javascript src=/static/js/manifest.8f1a68c7f5382f1477f0.js></script>
<script type=text/javascript src=/static/js/vendor.fbb286d9cb0ef7d48a82.js></script>
<script type=text/javascript src=/static/js/app.04802fffc7138243af00.js></script>
</body>
</html>